a.nav:after, a.nav:before
{
	display: none;
}


.navbar-default .navbar-nav > li > a {
	margin-top: 110%;
	width:75%;
	
	}
	.navbar-default.sidebar .navbar-nav > .active > a {
    background-color: #2368a0;
	color:white;
	font-family: "Merriweather",serif;
	font-size:20px;
	
}
	
	.navbar-default.sidebar .navbar-nav > .active > a:hover {
    background-color: white;
	color:#2368a0;
	
}
.navbar-default.sidebar .navbar-nav > .active > a.leftnav
/*,.navbar-default.sidebar .navbar-nav > .active > a:focus, 
	.navbar-default.sidebar .navbar-nav > .active > a:hover */{
	margin-top:1px;
	}
	
	.navbar.navbar-default.sidebar {
    background-color: transparent;
    border: 0 none;
	margin-left:5%;
}
.glyphicon{
top:0px;
margin-right:-42px;
}
body,html{
    height: 100%;
     margin-top: 0;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }
.navbar-default .navbar-toggle{
float:right;
margin: 16px 47px -61px -11px;

border-color:#2368a0;
}
.navbar-default .navbar-toggle .icon-bar
{
background-color:#2368a0;
}

.red-tooltip + .tooltip > .tooltip-inner {background-color: white;color:black;font-size:11px;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:white; }

 @media (min-width: 765px) {
 
	

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 7em;
    }

   
    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 23%;
      height: 100%;
      margin-left: 3%;
      float: left;
      margin-bottom: 0px;
	   margin-top: -19%;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  @media (max-width: 800px) {
 .navbar-default.sidebar .navbar-nav > .active > a, 
	.navbar-default.sidebar .navbar-nav > .active > a:focus, 
	.navbar-default.sidebar .navbar-nav > .active > a:hover {
	margin-top:111%;
	width:50%;
	}
	}
  @media (max-width: 768px) {
  .navbar-default.sidebar .navbar-nav > .active > a, 
	.navbar-default.sidebar .navbar-nav > .active > a:focus, 
	.navbar-default.sidebar .navbar-nav > .active > a:hover {
	margin-top:111%;
	width:50%;
	}
 }
 @media (max-width: 600px) {
 .navbar-default.sidebar .navbar-nav > .active > a, 
	.navbar-default.sidebar .navbar-nav > .active > a:focus, 
	.navbar-default.sidebar .navbar-nav > .active > a:hover {
	margin-top:4em;
	margin-left:35%;
	}
	}
 @media (max-width: 768px) {
nav.sidebar a {
    padding-right: 55%;
}
}
 @media (max-width: 768px) {
.glyphicon {
    margin-right: -79px;
    top: 4px;
}
}
 @media (max-width: 800px) {
nav.sidebar a {
    padding-right: 55%;
}
}
 @media (max-width: 800px) {
.glyphicon {
    margin-right: -79px;
    top: 4px;
}
}
